
body{
    background-color: #e2e1dc;
    font-family: 'Source Serif Pro';
    font-style: normal;
    margin: 0px;
    padding: 0px;
}

h1{
    color: #ffffff;
    background-position: 0px;
    background-size: cover;
    text-align: left;
    text-indent: 150px;
    font-family: 'Poppins';
    font-size: 3em;
    margin-top: 0px;
    padding-top: 75px;
}

h2{
    color: #4e6a75;
    font-size: 2em;
    text-align: center;
    margin-top: 10px;
    font-family: 'Poppins';
    padding-top: 30px;
}

h3{
    color: #202e34;
    font-size: 25px;
    font-weight: bold;
}

li{
    font-size: 20px;
}

nav {
    margin: 0px;
    padding:0px;
}

nav ul{
    list-style-type: none;
    display: inline-flex;
    font-weight: bold;
    font-family: 'Poppins';
    margin-top: 0px;
    margin-left: 110px;
}

nav ul li a{
    color: #e2e1dc;
    background-color: #202e34;
    padding-right: 20px;
    padding-left:0px;
    padding: 15px;
    margin-right: 15px;
    border-radius: 30px;
    text-transform: uppercase;
    text-decoration: none;
}

iframe{
    border-radius: 20px;
}

nav ul li a:hover{
    background-color: #4e6a75;  
    color: #e2e1dc;
}

table{
    width: 100%;
}

td{
    padding: 15px;
    margin: 0px;
}

td ul li{
    font-size: 15px;
}

td h2{
    text-align: left;
    text-transform: uppercase;
    padding-top: 0px;
}

td img{
    border-radius: 30px;
    object-fit: cover;
    width: 100%;
    opacity:100%;
    transition-duration:1s;
}

td img:hover{
    opacity:50%;
    transition-duration:1s;
}

.text{
    color: white;
    font-size: 20px;
    position: absolute;
}

.text :hover{
    opacity: 1;
}

a{
    text-decoration: none;
    font-weight: bold;
    color: #4e6a75;;
}

h2 a:hover, li a:hover{
    color: #202e34;
    font-weight: bold;
}

/* .movieblock{
    margin: 40px;
    margin-bottom: 60px;
    padding: 20px;
    background-color: #cdcdc8;
    color: #202e34;
    border-radius: 20px;
} */

.movieblock td img{
    height: 500px;
}

.movieinfo{
    width: 400px;
    font-style: normal;
}

.bignumber{
    font-family: 'Poppins';
    font-size: 5em;
    font-weight: bold;
    border-radius: 50%;
    color: white;
    background-color: #202e34;
    padding: 20px;
    margin: 20%;
    margin-top: 0%;
    background-color: #202e34;
    text-align: center;
}

.classdescriptor{
    text-align: center;
    font-size: larger;
}

.calloutbox{
    background-color: #4e6a75a9;
    color: #ffffff;
    border-radius: 25px;
    text-transform: none;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
}

.painting{
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.active{
    background-color: #95b3c0;
    color: #202e34;
}

.homepageheading{
    color: #ffffff;
    background-image: url(assets/images/actualheader.png);
    background-position: 0px;
    text-align: left;
    padding-top: 300px;
}


.dynamiclayout, .staticlayout, .movieblock{
    background-color: #cdcdc8;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 150px;
    margin-right: 150px;
    padding: 40px;
}

.dynamiclayout h2, .staticlayout h2{
    background-color: #89898981;
    color: #ffffff;
    border-radius: 20px;
    text-transform: none;
    padding: 15px
}

.dynamiclayout td{
    width: 45%;
    transition-duration: 1s;
}

.dynamiclayout td:hover{
    width: 55%;
    transition-duration:1s;
}

@font-face {
    font-family: 'Poppins';
    src: url(assets/fonts/poppins.ttf);
}

@font-face {
    font-family: 'Poppins';
    src: url(assets/fonts/poppins-bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: 'Poppins';
    src: url(assets/fonts/poppins-italic.ttf);
    font-style:italic;
}

@font-face {
    font-family: 'Source Serif Pro';
    src: url(assets/fonts/serif.ttf);
}

@font-face {
    font-family: 'Source Serif Pro';
    src: url(assets/fonts/serif-italic.ttf);
    font-style:italic;
}

@font-face {
    font-family: 'Source Serif Pro';
    src: url(assets/fonts/serif-bold.ttf);
    font-weight: bold;
}